
.canvas-app {
  height: 100vh;
  width: 100vw;
  background-color: inherit;
  cursor: crosshair;
  position: relative;
  .line-drawing {
    .dot-drawing {
      height: 5px;
      width: 5px;
      border-radius: 50%;
      background-color: white;
      user-select: none;
      position: absolute;
    }
  }
}
