<div class="home-view-container">
  <div class="svg-section">
    <div class="title">
      <h2>MY NAME IS PAUL AND I'M A FULL-STACK WEB DEVELOPER</h2>
    </div>
    <svg-dir></svg-dir>
    <nav-bar></nav-bar>
  </div>
  <div class="about-section">
    <div class="info-side">
      <a name="aboutanchor"></a>
      <h2>ABOUT</h2>
      <nav-bar></nav-bar>
    </div>
    <div class="description-side">
      <img src="https://dl.dropboxusercontent.com/s/605n1y2u1roohka/Screen%20Shot%202016-12-16%20at%208.29.34%20PM.png?dl=0" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
  <div class="projects-section">
    <div class="panel-side">
      <a name="projectsanchor"></a>
      <h2>PROJECTS</h2>
      <nav-bar></nav-bar>
    </div>
    <div class="display-side">

    </div>
  </div>
  <div class="contact-section">
    <div class="contact-side">
      <a name="contactanchor"></a>
      <h2>CONTACT</h2>
      <nav-bar></nav-bar>
    </div>
    <div class="link-side">
      <div class="contact-info">
        <p>Feel free to reach out to me with email below</p>
        <!-- <i class="fa fa-envelope" aria-hidden="true"></i> -->
        <h2>paul.ragar@gmail.com</h2>
      </div>
      <div class="social-wrap">
        <p>Don't forget to check out my Github and Linkedin</p>
        <div class="icon-links">
          <a href="https://github.com/paul-ragar">
            <i class="fa fa-github"  aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/paul-ragar">
            <i class="fa fa-linkedin"  aria-hidden="true"></i>
          </a>

        </div>
      </div>

    </div>
  </div>
  <div class="bottom-section">
    <drawing></drawing>
  </div>
</div>
