<div class="home-view-container">
  <div class="svg-section">
    <!-- <nav-bar id="home-nav-bar"></nav-bar> -->
    <svg-dir></svg-dir>
  </div>
  <div class="about-section">
    <div class="info-side">
      <!-- <nav-bar></nav-bar> -->
      <h2>About</h2>
    </div>
    <img src="https://dl.dropboxusercontent.com/s/e41cfkjkfqxjpw6/IMG_3851.jpg" alt="" />
    <div class="description-side">

    </div>
  </div>
  <div class="projects-section">
    <div class="panel-side">
      <h2>Projects</h2>
    </div>
    <div class="display-side">

    </div>
  </div>
  <div class="contact-section">
    <div class="contact-side">
      <h2>Contact</h2>
    </div>
    <div class="link-side">
      <div class="contact-info">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <h2>paul.ragar@gmail.com</h2>
      </div>
      <div class="icon-links">
        <a href="https://github.com/paul-ragar">
          <i class="fa fa-github"  aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/paul-ragar">
          <i class="fa fa-linkedin"  aria-hidden="true"></i>
        </a>

      </div>
    </div>
  </div>
  <div class="bottom-section">

  </div>
</div>
