<div class="home-view-container">

  <div class="svg-section">
    <div class="title">
      <h2>MY NAME IS PAUL AND I'M A FULL-STACK WEB DEVELOPER</h2>
    </div>
    <svg-dir></svg-dir>
    <nav-bar></nav-bar>
  </div>

  <div class="about-section">
    <div class="info-side">
      <a name="aboutanchor"></a>
      <h2>ABOUT</h2>
    </div>
    <div class="description-side">
      <img class="profile-pic" src="https://dl.dropboxusercontent.com/s/605n1y2u1roohka/Screen%20Shot%202016-12-16%20at%208.29.34%20PM.png?dl=0" />
      <h2>This is why I code</h2>
      <p>Creativity is in my genes. My father, and his father, worked in creative industries. Even though I have always had creative interests, I started my college education in pursuit of a degree in accounting. It was an advanced accounting class that first introduced me to Excel Visual Basic for Applications. From that point on I became completely absorbed in learning every bit of code I could. This newfound interest altered my educational, and ultimately my professional, path to web development. Now I create everyday building full stack applications using multiple languages.</p>
      <h3>Here's what I use to create</h3>
      <div class="skill-container">
        <div class="skill-box" ng-repeat="skill in skills">
          <img ng-mouseenter="hoveringSkill = true" ng-mouseleave="hoveringSkill = false" src="{{skill.image}}" alt="" style="height: 8px,width: 8px"/>
          <h1 ng-show="hoveringSkill" >{{skill.name}}</h1>
        </div>
      </div>

    </div>
  </div>

  <div class="projects-section">
    <div class="panel-side">
      <a name="projectsanchor"></a>
      <h2>MY WORK</h2>
    </div>
    <div class="display-side">
      <div class="images-container" ng-show="projectList">
        <a ng-repeat="project in projects track by $index" ng-click="showProjectContent($index)" ng-mouseenter="projectHover = true" ng-mouseleave="projectHover = false">
          <div class="image">
            <h1 ng-show="projectHover">{{project.title}}</h1>
            <img class="moving-img" src="{{project.image}}" alt="" />
          </div>
        </a>
      </div>
      <div ng-show="projectContent" class="project-content">

        <img src="{{selectedProject.image}}" alt="" />
        <h1>{{selectedProject.description}}</h1>
        <i class="fa fa-chevron-circle-left" ng-click="backToProjectList()" aria-hidden="true"></i>
        <div class="href-wrapper">
          <a href="{{selectedProject.hreflink}}">
            <div class="href-button" ng-click="displayModal(selectedProject.projectFn)">
              <h2>{{selectedProject.buttontag}}</h2>
            </div>
          </a>
        </div>

      </div>

    </div>

  </div>

  <div ng-show="desertTwigModal" class="modal-background" ng-click="hideModal()">
    <div class="left-arrow">
      <i class="fa fa-chevron-circle-left" ng-click="panLeft()" aria-hidden="true"></i>
    </div>
    <div class="right-arrow">
      <i class="fa fa-chevron-circle-right" ng-click="panRight()" aria-hidden="true"></i>
    </div>
    <div class="modal-image-container" ng-style="{transform: translateX(desertTwigSlider.left + '%')}">
      <div ng-repeat="image in desertTwig" class="image-wrapper">
        <img src="{{image.imageUrl}}" alt="" />
      </div>
    </div>
  </div>

  <div class="contact-section">
    <div class="contact-side">
      <a name="contactanchor"></a>
      <h2>CONTACT</h2>
    </div>
    <div class="link-side">
      <div class="contact-wrapper">
        <div class="contact-info">
          <p>Feel free to reach out to me with my email below</p>
          <div class="email-copy-box">
            <h1 ng-click="openMailer()" class="email-copy-text">paul.ragar@gmail.com</h1>
            <!-- <button class="copy-btn" type="button" name="button" ng-click="copyText()">Copy Email</button>
            <i ng-style="greenCheck" class="fa fa-check-square-o" aria-hidden="true"></i> -->
          </div>
        </div>
        <div class="social-wrap">
          <p>Don't forget to check out my Github and Linkedin</p>
          <div class="icon-links">
            <a href="https://github.com/paul-ragar">
              <i class="fa fa-github"  aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/paul-ragar">
              <i class="fa fa-linkedin"  aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="resume-wrap">
          <p></p>

        </div>
      </div>
    </div>
  </div>

  <div class="bottom-section">
    <div class="draw-text-wrap">
      <h2>Now let's draw</h2>
      <h1>No really, use your cursor and draw a picture</h1>
    </div>
    <drawing></drawing>
  </div>

</div>
