@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

$ubu: 'Ubuntu Condensed', sans-serif;

.nav-bar-container {
  opacity: 0;
  animation: nav-slide-up 1s ease-in;
  animation-delay: 2s;
  animation-fill-mode:forwards;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightcoral;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  a {
    text-decoration: none;
    color: lightcoral;
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    cursor: pointer;
    transition: color .7s;
    white-space: nowrap;
    &:hover {
      color: white;
    }
  }
  p {
    font-size: 26px;
    margin: 0 8px;
    margin-top: 2px;
  }
}

@keyframes nav-slide-up {
  from {
    bottom: 15px;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

// @media only screen and (max-width: 600px) {
//   .nav-bar-container {
//     a {
//       font-size: 50px;
//       white-space: nowrap;
//       margin-bottom: 5px;
//     }
//     p {
//       font-size: 70px;
//       margin: 0 20px;
//     }
//   }
//   @keyframes nav-slide-up {
//     from {
//       bottom: 15px;
//       opacity: 0;
//     }
//     to {
//       bottom: 40px;
//       opacity: 1;
//     }
//   }
//
// }
