@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

$font: 'Roboto', sans-serif;

#home-nav-bar {
  animation: nav-slide-down 1s linear forwards;
  animation-delay: 3s;
  height: 35px;
  width: 350px;
  margin: auto;
  margin-top: -50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-container {
  height: 30px;
  width: 350px;
  margin: 5px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    height: 30px;
    width: 70px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: rgba(50, 50, 50, 1);
    border: 0;
    color: rgba(200, 200, 200, 1);
    font-family: $font;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: rgba(75, 75, 75, .5);
    }
    &:active {
      background-color: rgba(50, 50, 50, .8);

    }
  }
}

@keyframes nav-slide-down {
  from {
    margin-top: -50px;
  }
  to {
    margin-top: 3px;
  }
}
